* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 50px;
  /* background-color: #15b037; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style: none;
  padding-left: 25px;
}
ul li a {
  color: black;
  text-decoration: none;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section {
  width: 100%;
  height: 450px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box1 {
  width: 400px;
  height: 400px;
  /* background-color: greenyellow; */
}
.box2 {
  width: 500px;
  height: 400px;
  background-color: rgb(64, 47, 255);
}
.h01 {
  font-size: 2rem;
  margin-bottom: 50px;
  margin-top: 50px;
}
.explorebtn {
  background-color: rgba(13, 12, 26, 0.705);
  color: white;
  margin-top: 30px;
  width: 150px;
  height: 50px;
}
.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.second-section {
  width: 100%;
  height: 450px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container3 {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.box3 {
  width: 500px;
  height: 400px;
  position: relative;
  /* background-color: greenyellow; */
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -50px;
    top: 100px;
}
.box4 {
  width: 400px;
  height: 400px;
  /* background-color: rgb(64, 47, 255); */
}
.image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.h02 {
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 50px;
}
.readbtn {
  margin-top: 60px;
  width: 150px;
  height: 50px;
}
